In [2]:
import sqlalchemy
from sqlalchemy.sql import text
import pandas as pd
import numpy as np
import sys
sys.path.append('../MusicBrainz/Data Extraction')
from dbhelper import DatabaseHelper
stg_uri = "postgresql://myuser:mypass@localhost:5432/gig_stg"
db_engine = sqlalchemy.create_engine(stg_uri)
ext_uri = "postgresql://myuser:mypass@localhost:5432/gig_stagingdb"

In [3]:
dim_mb_artists = pd.read_sql("select * from public.dim_mbartist", db_engine)

In [4]:
c1_set = set(dim_mb_artists['artist_mbid'])

In [5]:
_dw = DatabaseHelper(ext_uri)
origin_df = _dw.extract_query_to_pandas('select gid, name, is_active from public."dim.artists"')
df = origin_df[origin_df["is_active"] == True]

In [6]:
df_ = df[[x not in c1_set for x in df['gid']]]
df_["artist_spotify_id"] = np.NaN
df_ = df_.drop('is_active', 1)
df_.head()

C:\Users\DeRossiConsulting2\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                    gid             name  artist_spotify_id
1  29762c82-bb92-4acd-b1fb-09cc4da250d2     Joe Satriani                NaN
2  f9ab44f1-7b19-4ecb-830c-403abcf36cd1      Bob Sinclar                NaN
3  996b790a-5ea1-405b-b847-42a59e89d758       Floorfilla                NaN
4  2f87ffea-d79d-497a-8218-2723c4601c63  Love Connection                NaN
5  cff63c14-b081-4686-9357-eea84d5348fc      Anne Murray                NaN

In [ ]:
ukEvents.to_sql("dim_mbartist", db_engine, schema="public", if_exists="replace", index=False)