In [2]:
import requests
import json
import pandas as pd
from datetime import datetime
#from pandas.io.json import json_normalize
from pandas import json_normalize
import sqlalchemy
from sqlalchemy.sql import text

In [3]:
p_params = {'client_Id':'f79c4f3486334114a71aa37d31a48001', 
        'client_secret':'YhNVTcLMnU9i4fuVlhAUJmTWmuw2ErdmpVqtmYtCB+Y=', 
        'grant_type':'client_credentials',
        'Content-Type':"application/x-www-form-urlencoded"}

In [4]:
#request = https://data.pollstar.com/api/v3/token
#requests.get(url, params=None, **kwargs)
#r = requests.get('https://data.pollstar.com/api/v3/token?grant_type=' + grant_type + '&client_id=' + client_id + '&client_secret='+client_secret)

def getToken():
    r = requests.post("https://data.pollstar.com/api/v3/token", p_params)
    json_data = json.loads(r.text)
    df = json_normalize(json_data) 
    df.head()
    get_param = {'Accept':"application/json",
            'Authorization':'Bearer ' + df.access_token[0]}
    return get_param

In [ ]:
token = getToken()
token

In [ ]:
token['Accept']

In [ ]:
#city search

cityName = 'london'
url = 'https://data.pollstar.com/api/v3/cities/search/london?page=0&pageSize=5'
#url = 'https://data.pollstar.com/api/v3/cities/67494/venues/?radius=50'

r_poll = requests.get(url, headers=token)

In [ ]:
r_poll

In [ ]:
json_data = json.loads(r_poll.text)
#df = json_normalize(json_data['venues']) 
#df.head()
print(json_data['cities'][0]['id'])

In [ ]:
import psycopg2
db_engine = sqlalchemy.create_engine("postgresql://postgres:postgres@osboxes:5432/gig_stg")
venues = pd.read_sql("select distinct city, capacity from public.songkick_uk_venues where (capacity is null or capacity=0) and trim(city) <> 'None'", db_engine)
venues.head()

In [ ]:
venues.count()[0]

In [ ]:
db_engine = sqlalchemy.create_engine("postgresql://postgres:postgres@osboxes:5432/gig_stg")
venues = pd.read_sql('select * from public.songkick_uk_venues where capacity  = 20', db_engine)
cities = venues.city.unique()
all_venues = pd.DataFrame()
done_cities = []
#len(cities)
cities

In [ ]:
url = 'https://data.pollstar.com/api/v3/cities/search/' +'manchester' + '?page=0&pageSize=5'

r_poll = requests.get(url, headers=token)
json_data = json.loads(r_poll.text)
df_city = json_normalize(json_data['cities'])
df_city.head()
df_city[df_city['state.country.name']=='United Kingdom']['id'][0]

In [ ]:
city_id = 63945
index = 0
v_url = 'https://data.pollstar.com/api/v3/cities/' + str(city_id) + '/venues/?radius=50&page=' + str(index) + '&pageSize=10'
venues = requests.get(v_url, headers=token)
#if(venues.text == ''):
#    break
json_venues = json.loads(venues.text)
df = json_normalize(json_venues['venues'])

In [ ]:
df.head(100)

In [1]:
def crawl_venues_by_city(city, token):
    pd_venues = pd.DataFrame()
    url = 'https://data.pollstar.com/api/v3/cities/search/' + city + '?page=0&pageSize=5'
    try:
        r_poll = requests.get(url, headers=token)
        json_data = json.loads(r_poll.text)
        #city_id = json_data['cities'][0]['id']
        df_city = json_normalize(json_data['cities'])
        city_id = df_city[df_city['state.country.name']=='United Kingdom']['id'][0]

        index = 0
        while True:
            v_url = 'https://data.pollstar.com/api/v3/cities/' + str(city_id) + '/venues/?radius=50&page=' + str(index) + '&pageSize=10'
            #v_url = 'https://data.pollstar.com/api/v3/cities/' + str(city_id) + '/venues/?radius=0'
            try:
                venues = requests.get(v_url, headers=token)
                #if(venues.text == ''):
                #    break
                json_venues = json.loads(venues.text)
                df = json_normalize(json_venues['venues'])
                if(len(df) == 0):
                    break
                index = index + 1
                pd_venues = pd_venues.append(df) 
                #pd_venues = df
            except:
                pd_venues = pd_venues       
    except:
        pd_venues = pd_venues
    
    return pd_venues

In [ ]:
#use pandas to write to file
import os
def pandasToCSV(df): 
    
    ds = 'pollstar'
    #dt = datetime.today().strftime('%Y%m%d%H%M%S') #%H:%M:%S
    csv_filename =  ds+".csv"   
    # if file does not exist write header 
    if not os.path.isfile(csv_filename):
        #df.to_csv('filename.csv', header='column_names')
        df.to_csv(csv_filename, encoding='utf-8', index=False)   
    else: # else if exists, append without the header
        df.to_csv(csv_filename, mode='a', header=False, index=False)

In [ ]:
dfff = crawl_venues_by_city('Leeds', token)

In [ ]:
dfff[dfff['cityName']=='Leeds'].count()[0]

In [ ]:
dfff.head(100)
dfff[dfff['venueName']=='Headrow House']

In [ ]:
df_pollstar_venue = pd.DataFrame()

In [ ]:
for city in cities[:2]:
    df = crawl_venues_by_city(city)
    #for row in itertuples(index=False)
    if not df.isEmpty():
        for row in df.iterrows():
            venue_name = row.venueName
            #todo : find the venue name and update the capacity
            #v = venues[venues['name'] == venue_name]
            #print(venue_name)

In [ ]:
i = 0
j = 0
#df_pollstar_venue = pd.DataFrame(columns=[['venueId', 'venueName', 'venueURL', 'cityId', 'cityName', 'venueTypes','capacity']])

#token = getToken()
for city in cities:
    i+=1
    j+=1
    #if j == 5:
    token = getToken()
    j = 0   
    
    df = crawl_venues_by_city(city, token)
    if not df.empty:        
        if len(df_pollstar_venue) <= 0:
            df_pollstar_venue = df
        else:
            #df_pollstar_venue = df_pollstar_venue.append(df['venueId', 'venueName', 'venueURL', 'cityId', 'cityName', 'venueTypes','capacity'])
            df_pollstar_venue = df_pollstar_venue.append(df)        
        
        pandasToCSV(df)
        print(str(i)+' => '+ city + ' has ' + str(len(df)) + ' venues')

In [ ]:
#all_venues.head()
df_pollstar_venue.head()

In [ ]:
df_unique = df_pollstar_venue.drop_duplicates(subset='venueId', keep="first")

In [ ]:
df_unique.head()

In [ ]:
df_unique.to_csv('unique_pollstar.csv', encoding='utf-8', index=False)

In [ ]:
unique_city_id = df_unique.cityId.unique()

In [17]:
len(unique_city_id)

134

## Venue Search

In [5]:
db_engine = sqlalchemy.create_engine("postgresql://postgres:postgres@osboxes:5432/gig_stg")
venues = pd.read_sql('select * from public.songkick_uk_venues where capacity  = 20', db_engine)
venue_name = venues.name.unique()
all_venues = pd.DataFrame()

#len(cities)
venue_name

array(['The Yorkshire House', 'The Mint Lounge', 'South', ...,
       'Waterfront Hall Auditorium', 'Hrh Metal', 'Copper Bar'],
      dtype=object)

In [12]:
df_unique = pd.read_csv('unique_pollstar.csv', encoding='utf-8')
unique_city_id = df_unique.cityId.unique()

In [21]:
df_unique[df_unique['capacity']!= 0].count()[0]

372

In [13]:
def crawl_venues_by_name(venue, token):
    df_venue = pd.DataFrame()
    #url = 'https://data.pollstar.com/api/v3/cities/search/' + venue + '?page=0&pageSize=5'
    url = 'https://data.pollstar.com/api/v3/venues/search/' + venue + '?page=0'
    try:
        r_poll = requests.get(url, headers=token)
        json_data = json.loads(r_poll.text)
        #city_id = json_data['cities'][0]['id']
        df_venue = json_normalize(json_data['venues'])
        df_venue = df_venue[df_venue['cityId'].isin(unique_city_id)]
        
    except:
        df_venue = df_venue
    
    return df_venue

In [14]:
token = getToken()
crawl_venues_by_name('The Yorkshire House', token)

,id,name,url,latitude,longitude,location,cityId,rb,th,bo,rank
7,275747,Headrow House,http://data.pollstar.com/venue/headrow-house-2...,53.800306,-1.630543,"Leeds, United Kingdom",67374,22,196,0,355.90744

In [16]:
df_unique[df_unique['cityId'].isin([67374])].head(20)

,venueId,venueName,venueURL,cityId,cityName,cityURL,state,countryId,countryName,location,venueTypes,capacity,rb,bo,th
24,276937,Brudenell Social Club,http://data.pollstar.com/venue/brudenell-socia...,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Club'],400,True,True,True
25,269172,The Cockpit,http://data.pollstar.com/venue/the-cockpit-269172,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Club'],500,False,False,True
28,272694,First Direct Arena,http://data.pollstar.com/venue/first-direct-ar...,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Arena'],13000,True,True,True
30,269166,The Irish Centre,http://data.pollstar.com/venue/the-irish-centr...,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Club'],800,False,False,True
31,270245,Josephs Well,http://data.pollstar.com/venue/josephs-well-27...,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Club'],375,False,False,True
32,276786,New Roscoe,http://data.pollstar.com/venue/new-roscoe-276786,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom",['Club'],0,False,False,True
33,271965,O2 Academy Leeds,http://data.pollstar.com/venue/o2-academy-leed...,67374,Leeds,http://data.pollstar.com/city/leeds-67374,NaN,104,United Kingdom,"Leeds, United Kingdom","['Club', ' Auditorium / Theatre']",2300,True,True,True

In [ ]:
df_unique[df_unique['venueName']=='Headrow House']