# Artist MBIDS

In [9]:
import sqlalchemy
from sqlalchemy.sql import text
import pandas as pd
import numpy as np
import sys
sys.path.append('../MusicBrainz/Data Extraction')
from dbhelper import DatabaseHelper
stg_uri = "postgresql://myuser:mypass@localhost:5432/gig_stg"
db_engine = sqlalchemy.create_engine(stg_uri)
ext_uri = "postgresql://myuser:mypass@localhost:5432/gig_stagingdb"

In [12]:
_dw = DatabaseHelper(ext_uri)
origin_df = _dw.extract_query_to_pandas('select gid, name, type, gender, is_active from public."dim.artists"')
df = origin_df[origin_df["is_active"] == True]
df = df.drop('is_active', 1)

In [14]:
df.head()

                                    gid             name  type  gender
1  29762c82-bb92-4acd-b1fb-09cc4da250d2     Joe Satriani   1.0     1.0
2  f9ab44f1-7b19-4ecb-830c-403abcf36cd1      Bob Sinclar   1.0     1.0
3  996b790a-5ea1-405b-b847-42a59e89d758       Floorfilla   2.0     2.0
4  2f87ffea-d79d-497a-8218-2723c4601c63  Love Connection   1.0     1.0
5  cff63c14-b081-4686-9357-eea84d5348fc      Anne Murray   1.0     1.0

In [15]:
df.to_sql("dim_mbartist", db_engine, schema="public", if_exists="replace", index=False)

# VENUES

In [16]:
_dw = DatabaseHelper(stg_uri)
venues = _dw.extract_query_to_pandas('select venue_id, "name", city, capacity from public.songkick_uk_venues')
venues.to_sql("dim_venues", db_engine, schema="public", if_exists="replace", index=False)