# Clean ARTISTS

In [17]:
import pandas as pd
from dbhelper import DatabaseHelper
stg_uri = "postgresql://myuser:mypass@localhost:5432/gig_stagingdb"
_db = DatabaseHelper(stg_uri)

In [18]:
origin_df = _db.extract_query_to_pandas('select * from public."dim.artists"')

In [3]:
origin_df.info()
origin_df.shape
origin_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1610535 entries, 0 to 1610534
Data columns (total 8 columns):
id           1610535 non-null int64
gid          1610535 non-null object
name         1610535 non-null object
sort_name    1610535 non-null object
type         1610535 non-null float64
area         1610535 non-null float64
gender       1610535 non-null float64
is_active    1610535 non-null bool
dtypes: bool(1), float64(3), int64(1), object(3)
memory usage: 87.5+ MB

Index(['id', 'gid', 'name', 'sort_name', 'type', 'area', 'gender',
       'is_active'],
      dtype='object')

In [19]:
df = origin_df[origin_df["is_active"] == True]

## DUPLICATES

In [22]:
#NAME
duplictes = df["name"].value_counts(dropna=False)
duplictes.head(20)

Sabotage         2
Louis XIV        2
Adam West        2
Apex             2
Evelyn Grace     2
Kiosk            2
Medusa           2
Ariel            2
Stonehenge       2
The Cross        2
Max              2
Jesus            2
Fidel Castro     2
David Kirby      2
River Phoenix    2
Cai              2
Leonard Nimoy    2
Divine           2
X1               2
Dinosaur         2
Name: name, dtype: int64

In [21]:
df.drop_duplicates(subset = ['name', 'type', 'gender'], 
                     keep = False, inplace = True)

C:\Users\DeRossiConsulting2\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,gid,name,sort_name,type,area,gender,is_active
3,6,ea738cc5-5b1a-44a4-94ab-ed0c1bd71ecf,Apartment 26,Apartment 26,2.0,2.0,2.0,True
6,9,e83144dd-bb95-49fe-b1dd-00bab25cca9e,Robert Miles,"Miles, Robert",1.0,1.0,1.0,True
11,16,f150ed27-bee7-49d8-a226-31fef88c29b3,William S. Burroughs,"Burroughs, William S.",1.0,1.0,1.0,True
14,20,be899560-1570-402e-9f95-3182898a8b70,Art of Noise,Art of Noise,2.0,2.0,2.0,True
17,25,36bfa85f-737b-41db-a8fc-b8825850ffc3,Pavement,Pavement,2.0,2.0,2.0,True
...,...,...,...,...,...,...,...,...
1610488,1941476,24daaa0a-6f82-4956-96fa-0259a49b64f5,Travus T. Hipp,"Hipp, Travus T.",1.0,1.0,1.0,True
1610495,1941484,f9723c90-bf1a-44ac-a170-38cbd0a3f37a,Shag,Shag,2.0,2.0,2.0,True
1610504,1941493,e93c56cb-9155-42ca-b4e9-4a7713cccd1c,Nis Petersen,"Petersen, Nis",1.0,1.0,1.0,True
1610506,1941495,49343bb0-b5c2-45f8-9f8b-85a4649dd0aa,Decent,Decent,2.0,2.0,2.0,True
1610509,1941498,52cc04d1-7cd7-42c4-aefb-e21693551768,Decent,Decent,2.0,2.0,2.0,True