# Data Cleaning - ukVenues

In [1]:
import pandas as pd
ukVenues = pd.read_csv("C:/Users/isaac/OneDrive - Sheffield Hallam University/SHU/Advanced Data Management Project/Assessment/Data Cleaning/Dirty data/Cleaning/ukVenues.csv")

In [2]:
ukVenues

,venueID,venueName,venueStreet,venuePostcode,venueCity,venueCountry,venueCapacity,venueWebsite,venuePhone
0,1561,The Sugarmill,Brunswick Street,ST1 1DR,Stoke On Trent,UK,400.0,http://www.thesugarmill.co.uk/,01782 214991
1,1584,The Yorkshire House,2 Parliament Street,LA1 1DB,Lancaster,UK,NaN,NaN,NaN
2,1596,The Mint Lounge,46 - 50 Oldham Street Northern Quarter,M4 1LE,Manchester,UK,NaN,NaN,NaN
3,1602,South,4a King Street Deansgate,M2 6DQ,Manchester,UK,NaN,NaN,NaN
4,1620,Harewood House,Harewood Estate,LS17 9LG,Leeds,UK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6971,4377199,Radcliffe Market,NaN,NaN,Radcliffe,UK,NaN,NaN,NaN
6972,4377342,Waterfront Hall Auditorium,NaN,NaN,Belfast,UK,NaN,NaN,NaN
6973,4378026,Bagster House,Walton Lane,TW178LP,Shepperton,UK,150.0,https://www.sheppertonjazzclub.co.uk/,NaN
6974,4379381,Hrh Metal,NaN,NaN,Birmingham,UK,NaN,NaN,NaN
6975,4380113,Copper Bar,38 Castle Street,SA1 1HZ,Swansea,UK,NaN,https://www.facebook.com/pg/CopperBarSwansea/,01792 456689

In [3]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      5689
venuePostcode    5934
venueCity        6976
venueCountry     6976
venueCapacity     710
venueWebsite     2291
venuePhone       1352
dtype: int64

In [4]:
ukVenues.venueStreet

0                             Brunswick Street
1                          2 Parliament Street
2       46 - 50 Oldham Street Northern Quarter
3                     4a King Street Deansgate
4                              Harewood Estate
                         ...
6971                                       NaN
6972                                       NaN
6973                               Walton Lane
6974                                       NaN
6975                          38 Castle Street
Name: venueStreet, Length: 6976, dtype: object

In [5]:
ukVenues.venueStreet.fillna('Missing Venue-street data', inplace = True)

In [6]:
ukVenues.venueStreet

0                             Brunswick Street
1                          2 Parliament Street
2       46 - 50 Oldham Street Northern Quarter
3                     4a King Street Deansgate
4                              Harewood Estate
                         ...
6971                 Missing Venue-street data
6972                 Missing Venue-street data
6973                               Walton Lane
6974                 Missing Venue-street data
6975                          38 Castle Street
Name: venueStreet, Length: 6976, dtype: object

In [7]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      6976
venuePostcode    5934
venueCity        6976
venueCountry     6976
venueCapacity     710
venueWebsite     2291
venuePhone       1352
dtype: int64

In [8]:
ukVenues.venuePostcode

0        ST1 1DR
1        LA1 1DB
2         M4 1LE
3         M2 6DQ
4       LS17 9LG
          ...
6971         NaN
6972         NaN
6973     TW178LP
6974         NaN
6975     SA1 1HZ
Name: venuePostcode, Length: 6976, dtype: object

In [9]:
ukVenues.venuePostcode.fillna('A1 2BC', inplace = True)

In [10]:
ukVenues.venuePostcode

0        ST1 1DR
1        LA1 1DB
2         M4 1LE
3         M2 6DQ
4       LS17 9LG
          ...
6971      A1 2BC
6972      A1 2BC
6973     TW178LP
6974      A1 2BC
6975     SA1 1HZ
Name: venuePostcode, Length: 6976, dtype: object

In [11]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      6976
venuePostcode    6976
venueCity        6976
venueCountry     6976
venueCapacity     710
venueWebsite     2291
venuePhone       1352
dtype: int64

In [12]:
ukVenues.venueCapacity

0       400.0
1         NaN
2         NaN
3         NaN
4         NaN
        ...
6971      NaN
6972      NaN
6973    150.0
6974      NaN
6975      NaN
Name: venueCapacity, Length: 6976, dtype: float64

In [14]:
ukVenues.venueCapacity.min()

20.0

In [15]:
ukVenues.venueCapacity.fillna(ukVenues.venueCapacity.min(), inplace = True)

In [16]:
ukVenues.venueCapacity

0       400.0
1        20.0
2        20.0
3        20.0
4        20.0
        ...
6971     20.0
6972     20.0
6973    150.0
6974     20.0
6975     20.0
Name: venueCapacity, Length: 6976, dtype: float64

In [17]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      6976
venuePostcode    6976
venueCity        6976
venueCountry     6976
venueCapacity    6976
venueWebsite     2291
venuePhone       1352
dtype: int64

In [18]:
ukVenues.venueWebsite

0                      http://www.thesugarmill.co.uk/
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
                            ...
6971                                              NaN
6972                                              NaN
6973            https://www.sheppertonjazzclub.co.uk/
6974                                              NaN
6975    https://www.facebook.com/pg/CopperBarSwansea/
Name: venueWebsite, Length: 6976, dtype: object

In [19]:
ukVenues.venueWebsite.fillna('http://www.missingvenuewebsitedata.co.uk', inplace = True)

In [20]:
ukVenues.venueWebsite

0                      http://www.thesugarmill.co.uk/
1            http://www.missingvenuewebsitedata.co.uk
2            http://www.missingvenuewebsitedata.co.uk
3            http://www.missingvenuewebsitedata.co.uk
4            http://www.missingvenuewebsitedata.co.uk
                            ...
6971         http://www.missingvenuewebsitedata.co.uk
6972         http://www.missingvenuewebsitedata.co.uk
6973            https://www.sheppertonjazzclub.co.uk/
6974         http://www.missingvenuewebsitedata.co.uk
6975    https://www.facebook.com/pg/CopperBarSwansea/
Name: venueWebsite, Length: 6976, dtype: object

In [21]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      6976
venuePostcode    6976
venueCity        6976
venueCountry     6976
venueCapacity    6976
venueWebsite     6976
venuePhone       1352
dtype: int64

In [22]:
ukVenues.venuePhone

0       01782 214991
1                NaN
2                NaN
3                NaN
4                NaN
            ...
6971             NaN
6972             NaN
6973             NaN
6974             NaN
6975    01792 456689
Name: venuePhone, Length: 6976, dtype: object

In [23]:
ukVenues.venuePhone.fillna('0123 456 7890', inplace = True)

In [24]:
ukVenues.venuePhone

0        01782 214991
1       0123 456 7890
2       0123 456 7890
3       0123 456 7890
4       0123 456 7890
            ...
6971    0123 456 7890
6972    0123 456 7890
6973    0123 456 7890
6974    0123 456 7890
6975     01792 456689
Name: venuePhone, Length: 6976, dtype: object

In [25]:
ukVenues.count()

venueID          6976
venueName        6976
venueStreet      6976
venuePostcode    6976
venueCity        6976
venueCountry     6976
venueCapacity    6976
venueWebsite     6976
venuePhone       6976
dtype: int64

In [26]:
ukVenues

,venueID,venueName,venueStreet,venuePostcode,venueCity,venueCountry,venueCapacity,venueWebsite,venuePhone
0,1561,The Sugarmill,Brunswick Street,ST1 1DR,Stoke On Trent,UK,400.0,http://www.thesugarmill.co.uk/,01782 214991
1,1584,The Yorkshire House,2 Parliament Street,LA1 1DB,Lancaster,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
2,1596,The Mint Lounge,46 - 50 Oldham Street Northern Quarter,M4 1LE,Manchester,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
3,1602,South,4a King Street Deansgate,M2 6DQ,Manchester,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
4,1620,Harewood House,Harewood Estate,LS17 9LG,Leeds,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
...,...,...,...,...,...,...,...,...,...
6971,4377199,Radcliffe Market,Missing Venue-street data,A1 2BC,Radcliffe,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
6972,4377342,Waterfront Hall Auditorium,Missing Venue-street data,A1 2BC,Belfast,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
6973,4378026,Bagster House,Walton Lane,TW178LP,Shepperton,UK,150.0,https://www.sheppertonjazzclub.co.uk/,0123 456 7890
6974,4379381,Hrh Metal,Missing Venue-street data,A1 2BC,Birmingham,UK,20.0,http://www.missingvenuewebsitedata.co.uk,0123 456 7890
6975,4380113,Copper Bar,38 Castle Street,SA1 1HZ,Swansea,UK,20.0,https://www.facebook.com/pg/CopperBarSwansea/,01792 456689

In [27]:
ukVenues.to_csv('C:/Users/isaac/OneDrive - Sheffield Hallam University/SHU/Advanced Data Management Project/Assessment/GitHub/Gigalytics/Gigalytics/datasets/Clean/ukVenues.csv', index=False)